<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>reveal.js</title>

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/solarized.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
</head>
<body>
<aside class="reveal">
    <aside class="slides">
        <section>
            <h1 class="main">Twig в Drupal 8</h1>
            <p>
                <a href="http://cimpleo.com">Светлана Абраменко / Front-end developer</a>
            </p>
            <p class="logo"><a href="http://cimpleo.com"><img src="images/logo-cimpleo.png" /></a> </p>
        </section>
        <section>
            <img class='img' src="images/twig-and-drupal.jpg" />
            <h1>Почему Twig?</h1>
            <p>Twig - компилирующий обработчик шаблонов с открытым исходным кодом, написанный на PHP:</p>
            <ul>
                <li>краткость кода и лаконичный синтаксис</li>
                <li>наследование шаблонов</li>
                <li>безопасность</li>
            </ul>
        </section>

        <section>
            <table>
                <tr>
               <td>
                   <p> Drupal 7: </p>
 <pre><code class="hljs">
  // We hide the comments and links
  // to print them later.

  hide($content['comments']);
  hide($content['links']);
  print render($content);

  // Render calls show() on the element.
  print render($content['links']);

  // To get back links with the content.
  show($content['links']);

  // Prints content with links yet
  // without comments :(

  print render($content);

</code></pre>
                    </td>
                    <td>
                        <p> Drupal 8: </p>
  <pre><code class="hljs">
   {# Print without comments and links #}
   {{ content|without('comments', 'links') }}

   {# Print only links #}
   {{ content.links }}

   {# Print everything without comment! #}
   {{ content|without('comments') }}

   {# Print everything YAY :) #}
   {{ content }}

  </code></pre>
                    </td>
                </tr>
            </table>


        </section>

        <section>
           <h2> Переменная:</h2>
            <pre><code class="hljs">
   &lt;div{{ attributes }}&gt;
            </code></pre>
            <h2>Атрибут и фильтр:</h2>
             <pre><code class="hljs">
   &lt;div class="myclass {{ attributes.class }}"{{ attributes|without('class') }}&gt;
   </code></pre>
        </section>

        <section>
            <p>Конструкции</p>
    <pre><code class="hljs">
    &lt;section{{ attributes }}&gt;
      &lt;h2&gt;{{ name }}&lt;/h2&gt;
       {% if company %}
         &lt;p&gt;&lt;strong&gt;Company:&lt;/strong&gt; {{ company }}&lt;/p&gt;
       {% endif %}

    &lt;strong&gt;Programmers:&lt;/strong&gt;
      &lt;ul&gt;
       {% for programmer in programmers %}
         &lt;li&gt;{{ programmer }}&lt;/li&gt;
       {% endfor %}
      &lt;/ul&gt;

    {% if computers %}
      &lt;strong&gt;Computers:&lt;/strong&gt;
        &lt;ul&gt;
        {% for computer in computers %}
          &lt;li&gt;{{ computer }}&lt;/li&gt;
        {% endfor %}
        &lt;/ul&gt;
    {% endif %}
   &lt;/section&gt;
    </code></pre>

        </section>

        <section>
            <h2>Переопределение шаблонов</h2>
<pre><code class="hljs">
    page.html.twig
    page--node.html.twig
    page--node--%.html.twig
    page--node--1.html.twig
    page--node--edit.html.twig
    page--front.html.twig

</code></pre>

<pre><code class="hljs">
    html--internalviewpath.html.twig
    html--node--id.html.twig
    html.html.twig

</code></pre>
  <pre><code class="hljs">
    node--nodeid--viewmode.html.twig
    node--nodeid.html.twig
    node--type--viewmode.html.twig
    node--type.html.twig
    node--viewmode.html.twig
    node.html.twig
  </code></pre>

        </section>


            <section>
                <h3>Views</h3>
            <pre><code class="hljs">
                views-view--foobar--page.html.twig
                views-view--page.html.twig
                views-view--foobar.html.twig
                views-view.html.twig

                views-view-unformatted--foobar--page.html.twig
                views-view-unformatted--page.html.twig
                views-view-unformatted--foobar.html.twig
                views-view-unformatted.html.twig

                views-view-fields--foobar--page.html.twig
                views-view-fields--page.html.twig
                views-view-fields--foobar.html.twig
                views-view-fields.html.twig
            </code></pre>
            </section>


            <section>
                <img src="images/views7.jpg" />
            </section>

            <section>
                <img src="images/views7-2.jpg" />
            </section>

            <section>
                 <img src="images/views8.jpg" />
            </section>

       <section>
<table>
    <tr>
        <td>
             <pre><code class="hljs">
 [sku] == Commerce Товар: Артикул
 [title] == Commerce Товар: Заголовок
 [type] == Commerce Товар: Тип
 [commerce_price] == Commerce Товар: Price
 [status] == Commerce Товар: Состояние
 [operations] == Commerce Товар: Ссылки операций
               </code></pre>

        </td>
        <td>
             <pre><code class="hljs">
 {{ field_tile_descr_icon }} == Tile icon
 {{ title }} == Title
 {{ field_tile_descr }} == Tile description
 {{ view_node }} == Link to Content
              </code></pre>
        </td>
    </tr>
</table>
       </section>


<section>
            <h3>Вывод лого в шаблоне</h3>
    <p>THEME.theme</p>
<pre><code class="hljs">
 function THEME_preprocess_page(&$variables) {
   if (isset($variables['logo'])){
     $variables['logo'] = str_replace('.svg', '.png', $variables['logo']);
   }
   $variables['logopath'] = '/' . drupal_get_path('theme','theme') . '/logo.png';
 }

</code></pre>

    <p>page.html.twig</p>
<pre><code class="hljs">
    &lt;img class="img-responsive" src="{{ logopath }}" /&gt;

</code></pre>

</section>

 <section>
     <p>node--company.html.twig</p>
      <pre><code class="hljs">
   &lt;div class="row"&gt;
     &lt;div class="col-md-6 col-sm-6 col-xs-12"&gt;
       {{content.field_image}}
     &lt;/div&gt;

     &lt;div class="col-md-6 col-sm-6 col-xs-12"&gt;
       {{content.body}}
     &lt;/div&gt;
   &lt;/div&gt;
        </code></pre>

 </section>

 <section>


     <p>THEME.theme</p>
   <pre><code class="hljs">
   function THEME_preprocess_node(&$variables) {

     $block = \Drupal\block\Entity\Block::load('views_block__sidebar_meetings_group_page');
     $variables['news_block'] = \Drupal::entityManager()
       ->getViewBuilder('block')
       ->view($block);

   }
   </code></pre>


     <p>node--company.html.twig</p>
   <pre><code class="hljs">
   &lt;div class="row"&gt;
     &lt;div class="col-md-6 col-sm-6 col-xs-12"&gt;
       {{ content.field_image }}
     &lt;/div&gt;
      &lt;div class="col-md-6 col-sm-6 col-xs-12"&gt;
        {{ content.body }}
        {{ news_block }}
      &lt;/div&gt;
   &lt;/div&gt;
   </code></pre>

  </section>

        <section>
        <p>THEME.theme</p>
         <pre><code class="hljs">
 function THEME_preprocess_node(&$variables) {

   // Block
   $block = \Drupal\block\Entity\Block::load('copyright');
   $variables['copyright'] = \Drupal::entityManager()
     ->getViewBuilder('block')
     ->view($block);

 // Views block
   $block = \Drupal\block\Entity\Block::load('views_block__related_blogs_block_1');
   $variables['related_blogs'] = \Drupal::entityManager()
     ->getViewBuilder('block')
     ->view($block);
 }

         </code></pre>
            </section>

        <section>
        <p>node--company.html.twig</p>
        <pre><code class="hljs">
  &lt;div class="row"&gt;
    &lt;div class="col-md-6 col-sm-6 col-xs-12"&gt;
        {{ content.field_image }}
        {{ related_blogs }}
    &lt;/div&gt;
    &lt;div class="col-md-6 col-sm-6 col-xs-12"&gt;
        {{ content.body }}
        {{ copyright }}
     &lt;/div&gt;
  &lt;/div&gt;
         </code></pre>
            </section>
        <section>
            <img class="big-img" src="images/two-column.png" />
        </section>


 <section>
        <h3>Отладка Twig шаблонов</h3>
<pre><code>
    # sites/default/services.yml

    parameters:
      twig.config:
        debug: true
        auto_reload: true
        cache: false

</code></pre>

 </section>

 <section>
        <img src="images/debug.jpg" />
</section>

        <section>
            <p>settings.php</p>
            <pre><code class="hljs">
  if (file_exists(__DIR__ . '/settings.local.php')) {
    include __DIR__ . '/settings.local.php';
  }
                </code></pre>
<p>settings.local.php</p>
            <pre><code class="hljs">
  $settings['cache']['bins']['render'] = 'cache.backend.null';
  $settings['cache']['bins']['dynamic_page_cache'] = 'cache.backend.null';
                 </code></pre>
            </section>
<section>
        <h3>Функция dump</h3>
<pre><code class="hljs">
    {{ dump() }}
    # информация о всех переменных шаблона

</code></pre>

<pre><code class="hljs">
    {{ dump(user) }}
    # выводит отладочную информацию о переменных шаблона

</code></pre>

<pre><code class="hljs">
    {{ dump(user, tags) }}
    # информация о нескольких переменных

</code></pre>

 </section>

       <section>
           <img src="images/screen2.png" />
       </section>


<section>
        <h3>Функция kint</h3>
   <pre><code class="hljs">
       {{ kint() }}

       {{ kint(user) }}

       {{ kint(user, tags) }}
   </code></pre>
</section>

        <section>
            <img src="images/screen1.png" />
        </section>

        <section>
            <h2>Devel Kint работает с ошибкой с модулем Big Pipe</h2>
            <img src="images/screen3.png" />
        </section>

        <section>
            <h1 class="main">Twig в Drupal 8</h1>
            <p>
                <a href="http://cimpleo.com">Светлана Абраменко / Front-end developer</a>
            </p>
            <p class="logo"><a href="http://cimpleo.com"><img src="images/logo-cimpleo.png" /></a> </p>
        </section>

</aside>
</aside>
</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>

<script>
    // More info https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        history: true,

        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
            { src: 'plugin/markdown/marked.js' },
            { src: 'plugin/markdown/markdown.js' },
            { src: 'plugin/notes/notes.js', async: true },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
        ]
    });
</script>
</body>
</html>
